[submodule "Software Engineering"]
	path = Software Engineering
	url = https://github.com/elkhanzada/movie-recommendation-app.git
[submodule "Operating Systems"]
	path = Operating Systems
	url = https://github.com/elkhanzada/pintos.git
[submodule "Mobile Computing"]
	path = Mobile Computing
	url = https://github.com/elkhanzada/deepcat.git
[submodule "Database Systems"]
	path = Database Systems
	url = https://github.com/elkhanzada/sqlHomeWork.git
[submodule "Computer Vision"]
	path = Computer Vision
	url = https://github.com/elkhanzada/computer-vision.git
